    <article class="footer-info">
        <div class="footer-logo-container">
            <a href="./index.html" target="_self" class="logo-container-pages">
                <img class="logo-img" src="./assets/images/logo-2.png" alt="Ir a 'Home'" title="Overcomer Your Limits">
            </a>
            <h5>Overcome Your Limits</h5>
        </div>
        <p>
            En Overcome Your Limits te damos todo lo necesario ... solo tenes que preocuparte por darlo todo.
        </p>
        <p class="footer-info-derechos">
            2024 © Guillermo Vera - Derechos Reservados
        </p>
    </article>

    <article class="footer-contacto-redes">
        <div class="footer-contacto">
            <h3>Contacto</h3>
            <ul>
                <li><img src="./assets/images/mail.png" height="20" alt=""> hola@oyl.com.ar</li>
                <li><img src="./assets/images/phone.png" height="20" alt=""> +54 341 597 0645</li>
            </ul>
        </div>
        <div class="footer-redes">
            <h3>Redes</h3>
            <ul>
                <li><img src="./assets/images/instagram.png" height="20" alt=""> OvercomeYourLimits</li>
                <li><img src="./assets/images/x.png" height="20" alt=""> OvercomeYourLimits</li>
            </ul>
        </div>
    </article>