    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guillermo Vera">
    <meta name="description" content="Coder House Proyecto Final">
    <link rel="shortcut icon" href="./assets/images/logo-2.png" type="image/x-icon">
    <title>Overcome Your Limits - Indumentaria deportiva</title>

    <!-- Font Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--Sweet Alert-->


    <!--CSS Styles-->
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/productos.css">
    <link rel="stylesheet" href="./styles/carrito.css">
    <link rel="stylesheet" href="./styles/contacto.css">
    <link rel="stylesheet" href="./styles/soloProductos.css">

    <!--Toastify-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">